html {}
body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.container {
    max-width: 960px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px 0 30px 0;
}
h1 {}
p {}