h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

#profile-summary {
    display: flex;
    justify-content: flex-start;
    line-height: 1.2rem;
    width: 320px;
    height: 80px;
    border: 1px solid black;
}
#profile-picture {
    /*display: inline-block;*/
    width: 80px;
    height: 80px;
}
#profile-info {
    /*display: inline-block;*/
    margin: 0 0 0 5px;
    width: 250px;
}
#post-data-summary {
    border: 1px solid black;
}

#post-data-detail {
    border: 1px solid black;
}

dl.inline dd {
    display: inline;
    margin: 0;
}
dl.inline dd:after{
    display: block;
    content: '';
}
dl.inline dt{
    display: inline-block;
    min-width: 100px;
    width: 250px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}
dl.inline dt:after {
    content: ': ';
}
text {
    font: 30px sans-serif;
    font-weight: bold;
}
text::first-letter {
    text-transform: capitalize;
}
circle {
    stroke: grey;
    stroke-width: 1;
}