h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
.content-box {
    border: 1px solid black;
}

#profile-summary {
    font-family: 'Open Sans';
    /*text-transform: uppercase;*/
}
#profile-summary div {
}
#profile-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: black;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}
#profile-links img {
    width: 40px;
    height: 40px;
}
#profile-picture {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../avatars/default.jpg');
    background-size: cover;
    border: 2px solid gray;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
#first-name {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .3rem;
}
#last-name {
    font-size: 3rem;
    letter-spacing: .5rem;
}
.summary-line {
    border-top: 4px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35%;
}
#summary-list h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#metric-wrapper {
    font-weight: lighter;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
#metric-wrapper div {
    margin-left: 10%;
    margin-right: 10%;
}
#summary-list {
    margin-top: 20px;
    width: 100%;
}

text::first-letter {
    text-transform: capitalize;
}
circle {
    stroke: grey;
    stroke-width: 1;
}

/* Line Graph Styles */
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

#sidebar {
}
