h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
.content-box {
    border: 1px solid black;
}

#profile-picture {
    /*display: inline-block;*/
    background-image: url('../avatars/default.jpg');
    border: 2px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

dl.inline dd {
    display: inline;
    margin: 0;
}
dl.inline dd:after{
    display: block;
    content: '';
}
dl.inline dt{
    display: inline-block;
    min-width: 100px;
    width: 250px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}
dl.inline dt:after {
    content: ': ';
}
.content-box text {
    font: 10px sans-serif;
    font-weight: bolder;
}
text::first-letter {
    text-transform: capitalize;
}
circle {
    stroke: grey;
    stroke-width: 1;
}

/* Line Graph Styles */
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

#sidebar {
}